@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}
.boxTextTitle {
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.titleMain{
    margin: 0px;
    color: black;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    font-size: 40px;
    color: white;
}
.subTitle{
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    color: white;
}
.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.containerHome {
    display: grid;
    grid-template-rows: 1fr auto; 
    min-height: 100vh;
}

.aligBoxMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    padding-top: 20px;
}
.boxMain{
    width: 85%;
}

